{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="wrap-table shadow">
                <div class="card">
                    <div class="card-body">
                        <h2>Active Restaurent</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Restaurent</th>
                                    <th>Status</th>
                                    <th class="text-center" colspan="2">Menu</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in table %}
                                <tr>
                                    <td>1</td>
                                    <td><img src="/media/{{data.restaurents.restaurent_pics}}" alt=""> {{data.restaurents.name }}</td>
                                    <td>
                                        <div class="badge badge-info text-center">{{ data.status }}</div>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-sm btn-warning"
                                            href="{% url 'Product_App:menus' id=data.restaurents.id %}">View</a>
                                        {% if data.status == 'Accepted' %}
                                        <a class="btn btn-sm btn-success" href="{% url 'Product_App:cart_detail' id=data.restaurents.id %}">Cart</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}