{% extends 'base.html' %}
{% load cart_tag %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="wrap-table shadow">
                <div class="card">
                    <div class="card-body">
                        <h2>All Data</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Photo</th>
                                    <th>Item</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th class="text-center"></th>
                                    <th class="text-center">Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for key,value in request.session.cart.items %}
                                {% for rest in restaurent %}
                                {% if rest.id == value.restaurent_id %}
                                <tr>
                                    <td>{{key}}</td>
                                    <td><img src="{{value.image}}" alt=""></td>
                                    <td>{{value.name}}</td>
                                    <td>{{value.price}}</td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a href="{% url 'Product_App:item_increment' value.product_id %}"> + </a>
                                            <input type="text" name="quantity" value="{{value.quantity}} "
                                                autocomplete="off" size="2">
                                            <a href="{% url 'Product_App:item_decrement' value.product_id %}"> - </a>
                                        </div>
                                    </td>
                                    <td>
                                        {{ value.price|multiply:value.quantity }}
                                    </td>
                                    <td class="text-center">
                                        <!-- <select name="" id="">
                                                <option value="self">Self</option>
                                                <option value="waiter">Waiter</option>
                                            </select> -->
                                    </td>
                                    <td class="text-center">
                                        <a href="{% url 'Product_App:item_clear' id=value.product_id %}"
                                            class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <!-- <h4>Sub Total</h4> -->
                                </td>
                                <td></td>
                                <td>
                                    <!-- <h4>${{cart_total_amount}}</h4> -->
                                    <!-- <h4>${{cart_total_amount|add:10}}</h4> -->
                                </td>
                                <td>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-info btn-block" href="" data-toggle="modal"
                                        data-target="#myModal">Order Place</a>
                                    <!-- The Modal -->
                                    <div class="modal fade" id="myModal">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirmation</h4>
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <form action="{% url 'Product_App:orders' %}" method="POST">
                                                        {% csrf_token %}
                                                        <select name="service" id="" class="form-control">
                                                            <option value="waiter">Waiter</option>
                                                            <option value="self">Self Service</option>
                                                        </select>
                                                        {% for rest in restaurent %}
                                                        <input type="hidden" name="rest_id" value="{{rest.id}}">
                                                        {%endfor%}
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-success"
                                                        >Confirm</button>
                                                    </form>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}